<launch>
  <!-- Launch the ROS bag file -->
  <node pkg="rosbag" type="play" name="rosbag_player" args="/home/aditi/Downloads/withoutpointcloud.bag" output="screen" />

  <!-- Launch the edge detection node -->
  <node pkg="edge_detection" type="edge_detector_rviz.py" name="edge_detection_node" output="screen" />
</launch>
